.resContainer {
  width: 1440px;
  max-width: 100%;
  margin: auto;
}

/* @media only screen and (max-width: 600px) {
  .resContainer {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 0 3px;
  }
} */

::-webkit-scrollbar {
  display: none;
}

/* top-navbar border bottom  */
.navBottom:after {
  content: "";
  background: #283135;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 80.6%;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/icons/clubManagementIcons/downArrow.png");
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust right padding to fit your design */
  background-position-y: 70%;
}

.MonthlyDropDown > select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/icons/clubManagementIcons/downArrow.png");
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust right padding to fit your design */
  background-position-y: 70%;
}
